:root {
  --text-color: #fbfbfb;
  --search-bg-color: #d08677;
  --btn-hover-color: #e69e90;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 120%;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 0;
  /* left: 1%; */
  margin: auto;
  color: #fbfbfb;
}
.hero-text h1 {
  font-size: 6.5vw;
  font-weight: 400;
  width: 100%;
  margin: 0;
}
.switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch button {
  width: 4rem;
  border-radius: 20px;
  position: absolute;
  top: 1%;
  right: 1%;
  justify-content: flex-start;
}

.switch button i {
  transition: opacity 0.2s ease-in-out;
}
#light {
  opacity: 1;
}
#dark {
  opacity: 0;
}
.insta a {
  position: absolute;
  bottom: 3%;
  right: 2%;
  font-size: 1.8rem;
  color: var(--search-bg-color);
  width: 3rem;
  height: 3rem;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}
.card {
  background: url("https://images.pexels.com/photos/7130557/pexels-photo-7130557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: top;
  background-size: cover;
  padding: 3rem 2rem;
  border-radius: 60px;
  border: 2px solid #f0d1cb;
  width: 100%;
  max-width: 270px;
  margin: 1.3rem;
  margin-top: -3rem;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 12px 24px rgba(0, 0, 0, 0.12);
}
.city {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.search,
.switch button,
.search button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  height: 2.3rem;
  width: 2.3rem;
  outline: none;
  font-size: 1.2rem;
  background: var(--search-bg-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--text-color);
}
.card button:hover {
  background-color: var(--btn-hover-color);
}
input.search-bar {
  border: none;
  width: calc(100% - 80px);
  /* outline: none; */
  padding: 0.4rem 1rem;
  border-radius: 24px;
  background-color: var(--search-bg-color);
  font-size: 110%;
  color: var(--text-color);
  outline: none;
}
input.search-bar::placeholder {
  color: var(--text-color);
}

h2 {
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.temp {
  font-size: 3.2rem;
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
}
.description {
  margin: 0;
  text-transform: capitalize;
  margin-left: 4px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 20px;
}

@media (max-width: 600px) {
  .hero-text h1 {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .hero-text {
    left: 2.5%;
    top: 2%;
  }
  .card {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .hero-text h1 {
    font-size: 1.4rem;
  }
}
